<div>
  <app-add-user-modal *ngIf="isModalActive" (closeModalEvent)="onCloseModal($event)"></app-add-user-modal>
  <h1>Users</h1>
  <div><button (click)="onAddUser()">Add User</button></div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>User Name</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of users$ | async">
      <th>{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>
        <button type="button" >{{ item.active }}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
